{% extends 'base.html' %}
{% block title %}
Home Page
{% endblock %}

{% block content %}

        <form action="" method="post">

            {% csrf_token %}
            {% for question in questions %}
            <div> {{question}} </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="flexRadioDefault1" value="option1">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{question.option1}}
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="flexRadioDefault1" value="option2">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{question.option2}}
                </label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="flexRadioDefault1" value="option3">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{question.option3}}
                </label>
              </div>
        
              <div class="form-check">
                <input class="form-check-input" type="radio" name="question_{{ question.id }}" id="flexRadioDefault1" value="option4">
                <label class="form-check-label" for="flexRadioDefault1">
                    {{question.option4}}
                </label>
              </div>
              <hr>
              {% endfor %}
            <input type="submit" value="Send">
        </form>


{% endblock %}